{%- extends "main.html" -%}
<head>
    <meta charset="UTF-8">
    {%- block head -%}
    {{super()}}
    {%- endblock head -%}
</head>
<body>
    {%- block bootstrap -%}
    {{super()}}
    {%- endblock bootstrap -%}
    {%- block navbar -%}{{super()}}{%- endblock navbar -%}
    {%- block main -%}
    <div class="container">

        <div class="card pmd-card text-center">
            <div class="card-body">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEmVc1KHwIqAQ/profile-displayphoto-shrink_200_200/0/1599051241851?e=1612396800&v=beta&t=DO2mP4qrVMqPMggCeCLMtH-J9-3UpL-NQssM-hD3oDU" style="height:150px" class="img-thumbnail rounded-circle img-fluid mt-2 mb-1" alt="Avatar">
                <h2 class="card-title">Elisa Desmetz</h2>
                <p class="card-subtitle mb-3">Alternante en d&eacute;veloppement logiciel</p>
                <p class="card-text">Amorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras etitikis mauris eget lorem ultricies ferme ntum a inti diam.</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary btn-dark" type="button">
                    <a href="{{url_for('redirection_externe',url="linkedin")}}" target="_blank">
                        <img src="{{ url_for('static', filename='img/linkedin.svg') }}" style="height: 1.5em; filter:invert(100%) grayscale(800%);" alt="linkedin icon" class="m-1" />
                    </a>
                </button>
                <button class="btn btn-sm btn-primary btn-dark" type="button">
                    <a href="{{url_for('redirection_externe',url="github")}}" target="_blank">
                        <img src="{{ url_for('static', filename='img/github.svg') }}" style="height: 1.5em; filter:invert(100%) grayscale(800%);" alt="linkedin icon" class="m-1" />
                    </a>
                </button>
                <button class="btn btn-sm btn-primary btn-dark" type="button">
                    <a href="{{url_for('redirection_externe',url="cv")}}" download>
                        <img src="{{ url_for('static', filename='img/cv.svg') }}" style="height: 1.5em; filter:invert(100%) grayscale(800%);" alt="linkedin icon" class="m-1" />
                    </a>
                </button>
            </div>
        </div>
    </div>
    {%- endblock main -%}
    {%- block footer -%}{{super()}}{%- endblock footer -%}
</body>
